<h1>Log in</h1>  

<%= form_tag sessions_path do %>
 
	<%= label_tag :email %>  
	<%= text_field_tag :email, params[:email] %>

	<%= label_tag :password %> 
	<%= password_field_tag :password %>  
	<br />
  <button type="submit" class="btn">Submit</button>
<% end %>